#title{
    color: red;
    font-weight: bolder;
    font-style: italic;
}
#first{
    border: solid gray;
    background-color: gray;
    border-radius: 10px;
    padding: 1.1em;
    margin: 0.2em;
}
.add-btn{
    height: 3em;
    width: 5em;
    background-color: cornflowerblue;
    color: #ffff;
}